<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="main.css">
        <meta charset="UTF-8">
        <title>main</title>
        <form action="info.html">
            <p align="right"><button>I want in Legion</button></p>
        </form>
        <form action="login.html"></form>
            <p align="right"><button>I'm Legioner</button></p>
        </form>
    </head>
    <body>
        <div class="aboutus">
            <div>
                <p>About us</p> 
            </div>
            <div>
                <p>Our photo</p>
            </div>   
        </div>
    </body>
</html>
